body {
    margin: 0;
    background: #ffc600;
    margin-top: 40px;
}

.inbox {
    width: 40vh;
    border: 1px solid #ffffff;
    background: #ffffff;
    box-shadow: 5px 5px #00000038;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.item {
    line-height: 13px;
    border-bottom: 1px solid #f3f3f3;
}

.item p {
    display: inline-block;
}

.active {
    text-decoration: line-through;
}