body {
    margin: 0;
    display: flex;
    justify-content: center;
    background: #ffc600;
}

.search {
    margin-top: 20px;
    text-align: center;
    width: 50vh;
    height: 7vh;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px 5px;
    border: 5px solid #d4cdcd;
}

.suggestions {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.suggestions li {
    width: 45vh;
    height: 5vh;
    background: #fff;
    border: 1px solid #f0f0f0;
    line-height: 5vh;
    padding-left: 5px;
    position: relative;
}

.name {
    text-align: left;
}

.population {
    position: absolute;
    right: 10px;
}