html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: cursive;
    font-size: 20px;
    font-weight: 200;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
}

.panel {
    display: flex;
    background: #6B0F9C;
    color: white;
    font-size: 20px;
    text-align: center;
    background-size: cover;
    flex: 1;
    align-items: center;
    flex-direction: column;
    transition: .4s;
    justify-content: center;
}

.panel1 {background-image: url("image/img1.jpg");}
.panel2 {background-image: url("image/img2.jpg");}
.panel3 {background-image: url("image/img3.jpg");}
.panel4 {background-image: url("image/img4.jpg");}
.panel5 {background-image: url("image/img5.jpg");}

.panel p{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 1em;
    text-shadow: 0 0 4px #000;
    flex: 1 0 auto;
}

.panel p:first-child {
    transform: translateY(-100%);
    transition: .4s;
}

.panel p:last-child {
    transform: translateY(100%);
    transition: .4s;
}

.panel.active p:first-child{
    transform: translateY(0);
}

.panel.active p:last-child{
    transform: translateY(0);
}

.open {
    font-size: 40px;
    flex: 5;
}

.panel p:nth-child(2) {
    font-size: 3em;
}