html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
div {
    width: 100%;
    padding: 100px;
}
.one {
    background: thistle;
}
.two {
    background: mistyrose;
}
.three {
    background: coral;
}
