:root {
    --base: #ffc600;
    --spacing: 50px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: #bada55;
}

body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue' , sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.controls {
    margin-bottom: 50px;
}